body {
    background-color: #fff;
}

section {
    width: 100%;
    height: 30vh;
    display: flex;

}

#solid {
    border: solid;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.square {
    background-color: #8C55C3;
    margin-top: 8vh;
    margin-left: 6px;
    height: 20vh;
    width: 5vh;
}

.rectangle {
    background-color: green;
    margin: 5px 20px;
    width: 50vh;
}

.circle {
    background-color: lightblue;
    border-radius: 50%;
    width: 30vh;
    margin: 4px;
}

#dotted {
    border: dotted;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#rectangle {
    background-color: lightgoldenrodyellow;
    margin-top: 5vh;
    margin-left: 5vh;
    height: 20vh;
    width: 130vh;
    box-shadow: #000 5px 5px;
}

#shadow {
    box-sizing: border-box;
}

#friends {
    background-color: #fff;
    box-shadow: 3px 3px 5px 3px #ccc;
    margin: 5px auto;
    height: 30vh;
    width: 50vh;
}

#friends h1 {
    text-align: center;
    letter-spacing: 10px;
    color: navy;
    width: 100%;
    padding-top: 7vh;
    padding-left: 1vh;
}